body {
  font-family: "Trebuchet MS";
  color: white;
}

hr {
  width: 100%;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 7vw;
  white-space: nowrap;
  /* text-shadow: 4px 4px 0 rgba(140, 117, 117, 0.7); */
  text-shadow:
  -1px -1px 0 magenta,
  1px -1px 0 magenta,
  -1px 1px 0 magenta,
  1px 1px 0 magenta;
  color: white;
}

.choose-difficulty {
  text-align: center;
}

.game-group {
  position: relative;
  /* width: calc(100vmin - 50px);
  height: calc(50vmin + 60px); */
}

.canvas-group {
  /* display: none; */
  z-index: -1;
}

.primary-canvas {
  z-index: -1;
  cursor: none;
}

.game-canvas {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100vw - 14px);
  height: calc(50vw - 7px);
}

.background {
  z-index: -999;
}

.menu {
  z-index: 9999;
  padding-top: 50px;
  width: 50%;
  margin: 0 auto;
}

.controls {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 2vw;
}

.sub-menu {
  display: none;
}

.pause-menu {
  top: 150px;
  width: 50%;
  margin: 0 auto;
  position: relative;
}

.high-scores {
  flex: 1;
  overflow-y: auto;
  padding: 5px;
}

.high-scores-list {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  width: 100%;
}

.high-scores-list tr {
  text-align: center;
  font-size: 2.5vw;
}

.high-scores-list td {
  text-align: center;
  font-size: 2vw;
}

.control {
  font-family: "Trebuchet MS";
  flex: 1;
  margin: 10px;
  /* Button style */
  border: 1px solid #ffffff;
  background: #ca2fa3;
  background: -webkit-gradient(linear, left top, left bottom, from(#cc28a3), to(#ca2fa3));
  background: -webkit-linear-gradient(top, #cc28a3, #ca2fa3);
  background: -moz-linear-gradient(top, #cc28a3, #ca2fa3);
  background: -ms-linear-gradient(top, #cc28a3, #ca2fa3);
  background: -o-linear-gradient(top, #cc28a3, #ca2fa3);
  background-image: -ms-linear-gradient(top, #cc28a3 0%, #ca2fa3 100%);
  padding: 13.5px 27px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
  -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
  box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
  text-shadow: #8f3232 0 1px 0;
  color: #ffffff;
  font-size: 1.75vw;
  text-decoration: none;
  vertical-align: middle;
  }
.control:hover {
  border: 1px solid #ffffff;
  text-shadow: #571e1e 0 1px 0;
  background: #cc64b2;
  background: -webkit-gradient(linear, left top, left bottom, from(#cc64b2), to(#c968b0));
  background: -webkit-linear-gradient(top, #cc64b2, #c968b0);
  background: -moz-linear-gradient(top, #cc64b2, #c968b0);
  background: -ms-linear-gradient(top, #cc64b2, #c968b0);
  background: -o-linear-gradient(top, #cc64b2, #c968b0);
  background-image: -ms-linear-gradient(top, #cc64b2 0%, #c968b0 100%);
  color: #fff;
  }
.control:active {
  text-shadow: #571e1e 0 1px 0;
  border: 1px solid #ffffff;
  background: #cc28a3;
  background: -webkit-gradient(linear, left top, left bottom, from(#ca2fa3), to(#ca2fa3));
  background: -webkit-linear-gradient(top, #ca2fa3, #cc28a3);
  background: -moz-linear-gradient(top, #ca2fa3, #cc28a3);
  background: -ms-linear-gradient(top, #ca2fa3, #cc28a3);
  background: -o-linear-gradient(top, #ca2fa3, #cc28a3);
  background-image: -ms-linear-gradient(top, #ca2fa3 0%, #cc28a3 100%);
  color: #fff;
  }
